@import './app/shared/styles/theme.css';
@import './app/shared/styles/shared.css';

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
  background: var(--color-bg);
  color: var(--color-text);
}
